[Unit]
Description=Crystal Gateway_status
Requires=getty.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/Gateway_RPi_Ublox/Gateway_status.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
